# Abhängigkeiten
node_modules/

# Sensible Daten
.env

# Dokumente & Scripte aus dem Root (laut deinem Script)
impressum.html
datenschutz.html
nutzung.html
news.html
survey_votes.txt
google2a21e9ee42e18ac7.html

# Zip-Dateien
*.zip
