# Abhängigkeiten
node_modules/

# Sensible Daten
.env

# Dokumente & Scripte mit persönlichen/livespezifischen Daten (laut deinem Script)
# jetzt unter /language/<lang>/ pro Sprache abgelegt
language/*/impressum.html
language/*/datenschutz.html
language/*/nutzung.html
language/*/news.html
survey_votes.txt
google2a21e9ee42e18ac7.html

# Zip-Dateien
*.zip
